script(type="text/ng-template" id="dashboard.html")
  include ./dashboard/dashboard.jade
script(type="text/ng-template" id="quickButton.html")
  include ./dashboard/quickButton.jade
script(type="text/ng-template" id="statBox.html")
  include ./dashboard/statBox.jade
script(type="text/ng-template" id="circleStat.html")
  include ./dashboard/circleStat.jade
script(type="text/ng-template" id="networkGraph.html")
  include ./network/networkGraph.jade
script(type="text/ng-template" id="transaction.html")
  include ./transactions/transaction.jade
