.span2(ontablet='span4', ondesktop='span2')
      .circleStatsItemBox(ng-class="circle.color")
        .header {{circle.title}}
        span.percent percent
        .circleStat
          input.whiteCircle(type='text', ng-class="circle.class", ng-attr-value="{{ratio() }}")
        .footer
          span.count
            span.number {{value() | number: 0}}
            span.unit {{circle.unit}}
          span.sep /
          span.value
            span.number {{max() | number: 0}}
            span.unit {{circle.unit}}