.span2(ontablet='span4', ondesktop='span2')
      .circleStatsItemBox(ng-class="circle.color")
        .header {{circle.title}}
        span.percent percent
        .circleStat
          input.whiteCircle(type='text', ng-attr-value="{{newProp}}")
        .footer
          span.count
            span.number {{ratio () | number: 0}}
            span.unit {{circle.unit}}
          span.sep /
          span.value
            span.number {{max()}}
            span.unit {{circle.unit}}