#content.span10
  .row-fluid
    a.quick-button.metro.span2(ng-repeat="tile in tiles" ng-class="tile.color")
      i(ng-class="tile.icon")
      p {{tile.title}}
      span.badge {{tile.value}}
    .clearfix
  #secondRow.row-fluid
  .row-fluid.hideInIE8.circleStats
    .span2(ontablet='span4', ondesktop='span2' ng-repeat="circle in circleStats")
      .circleStatsItemBox(ng-class="circle.color")
        .header {{circle.title}}
        span.percent percent
        .circleStat
          input.whiteCircle(type='text', ng-attr-value="{{100 * circle.value / circle.max | number : 1}}")
        .footer
          span.count
            span.number {{circle.value}}
            span.unit {{circle.unit}}
          span.sep /
          span.value
            span.number {{circle.max}}
            span.unit {{circle.unit}}
    .widget.yellow.span4.noMargin(ontablet='span12', ondesktop='span4')
      h2
        span.glyphicons.fire
          i Grid Load
      hr
      .content
        #serverLoad2(style='height:105px;')
  .row-fluid
    .span3.statbox.purple(ontablet='span6', ondesktop='span3')
      .boxchart 5,6,7,2,0,4,2,4,8,2,3,3,2
      .number $10.23
        i.icon-arrow-up
      .title Price
      .footer
        a(href='#') read full report
    .span3.statbox.green(ontablet='span6', ondesktop='span3')
      .boxchart 1,2,6,4,0,8,2,4,5,3,1,7,5
      .number 123,000
        i.icon-arrow-up
      .title Consumer Demand
      .footer
        a(href='#') read full report
    .span3.statbox.blue.noMargin(ontablet='span6', ondesktop='span3')
      .boxchart 5,6,7,2,0,-4,-2,4,8,2,3,3,2
      .number $900,900
        i.icon-arrow-up
      .title Grid Sales
      .footer
        a(href='#') read full report
    .span3.statbox.yellow(ontablet='span6', ondesktop='span3')
      .boxchart 7,2,2,2,1,-4,-2,4,8,,0,3,3,5
      .number $100,099
        i.icon-arrow-down
      .title Alternative Sales
      .footer
        a(href='#') read full report
  .clearfix
