#content.span10
  .row-fluid
    vt-distribution-tile(stats="aggregations.consumers")
    vt-production-tile(stats="aggregations.producers" ng-click="setState('producers')")
    vt-market-tile(stats="aggregations.auctions" ng-click="setState('market')")
    vt-transactions-tile(stats="transactions" ng-click="setState('transactions')")
    vt-controls-tile(stats="aggregations")
    vt-network-tile(stats="aggregations" ng-click="setState('network')")
    .clearfix
  .row-fluid.hideInIE8.circleStats(ng-show="isState('dashboard')")
    vt-grid-capacity-circle(stats="aggregations.producers")
    vt-transient-capacity-circle(stats="aggregations")
    vt-profit-sales-circle(stats="aggregations", price="transactions")
    vt-solar-price-discount-circle(stats="transactions", changelisten="aggregations.brokers")
    .widget.yellow.span4.noMargin(ontablet='span12', ondesktop='span4')
      h2
        span.glyphicons.fire
          i Grid Load
      hr
      .content
        #serverLoad2(style='height:105px;')
  .row-fluid(ng-show="isState('dashboard')")
    vt-price-box(stats="aggregations.auctions")
    vt-consumer-demand-box(stats="aggregations.auctions")
    vt-grid-sales-box(stats="aggregations.auctions")
    vt-alternative-sales-box(stats="aggregations.brokers.auctions")
  .row-fluid(ng-show="isState('network')")
    .ui.divider
    include ../network/network.jade
  .row-fluid(ng-show="isState('market')")
    .ui.divider
    include ../market/market.jade
  .row-fluid(ng-show="isState('producers')")
    .ui.divider
    include ../producers/producers.jade
  .row-fluid(ng-show="isState('transactions')")
    .ui.divider
    include ../transactions/transactions.jade
  .clearfix
