#content.span10
  .row-fluid
    vt-distribution-tile(stats="aggregations.consumers")
    vt-production-tile(stats="aggregations.producers")
    vt-market-tile(stats="aggregations.auctions")
    vt-transactions-tile(stats="transactions")
    vt-controls-tile(stats="aggregations")
    vt-network-tile(stats="aggregations")
    .clearfix
  #secondRow.row-fluid
  .row-fluid.hideInIE8.circleStats
    vt-grid-capacity-circle(stats="aggregations.producers")
    vt-transient-capacity-circle
    vt-sales-target-circle
    vt-efficiency-target-circle
    .widget.yellow.span4.noMargin(ontablet='span12', ondesktop='span4')
      h2
        span.glyphicons.fire
          i Grid Load
      hr
      .content
        #serverLoad2(style='height:105px;')
  .row-fluid
    vt-price-box(stats="aggregations.auctions")
    vt-consumer-demand-box(stats="aggregations.auctions")
    vt-grid-sales-box(stats="aggregations.auctions")
    vt-alternative-sales-box(stats="aggregations.brokers.auctions")
  .clearfix
