#content.span10
  .row-fluid
    vt-distribution-tile(stats="tiles[0]")
    vt-production-tile(stats="tiles[0]")
    vt-market-tile(stats="tiles[0]")
    vt-transactions-tile(stats="tiles[0]")
    vt-controls-tile(stats="tiles[0]")
    vt-network-tile(stats="tiles[0]")
    .clearfix
  #secondRow.row-fluid
  .row-fluid.hideInIE8.circleStats
    .span2(ontablet='span4', ondesktop='span2' ng-repeat="circle in circleStats")
      .circleStatsItemBox(ng-class="circle.color")
        .header {{circle.title}}
        span.percent percent
        .circleStat
          input.whiteCircle(type='text', ng-attr-value="{{100 * circle.value / circle.max | number : 1}}")
        .footer
          span.count
            span.number {{circle.value}}
            span.unit {{circle.unit}}
          span.sep /
          span.value
            span.number {{circle.max}}
            span.unit {{circle.unit}}
    .widget.yellow.span4.noMargin(ontablet='span12', ondesktop='span4')
      h2
        span.glyphicons.fire
          i Grid Load
      hr
      .content
        #serverLoad2(style='height:105px;')
  .row-fluid
    vt-price-box
    vt-consumer-demand-box
    vt-grid-sales-box
    vt-alternative-sales-box
  .clearfix
