#content.span10
  .row-fluid
    vt-distribution-tile(stats="aggregations.consumers")
    vt-production-tile(stats="aggregations.producers")
    vt-market-tile(stats="aggregations.auctions")
    vt-transactions-tile(stats="transactions")
    vt-controls-tile(stats="aggregations")
    vt-network-tile(stats="aggregations" ng-click="setState('network')")
    .clearfix
  .row-fluid.hideInIE8.circleStats(ng-show="isState('dashboard')")
    vt-grid-capacity-circle(stats="aggregations.producers")
    vt-transient-capacity-circle(statsproduc="aggregations.producers", statssolar="aggregations.brokers")
    vt-profit-sales-circle(stats="aggregations")
    vt-efficiency-target-circle
    .widget.yellow.span4.noMargin(ontablet='span12', ondesktop='span4')
      h2
        span.glyphicons.fire
          i Grid Load
      hr
      .content
        #serverLoad2(style='height:105px;')
  .row-fluid(ng-show="isState('dashboard')")
    vt-price-box(stats="aggregations.auctions")
    vt-consumer-demand-box(stats="aggregations.auctions")
    vt-grid-sales-box(stats="aggregations.auctions")
    vt-alternative-sales-box(stats="aggregations.brokers.auctions")
  .row-fluid(ng-show="isState('network')")
    include ../network/network.jade
  .clearfix
