.span3.statbox(ng-class="tile.color" ontablet='span6', ondesktop='span3')
  .boxchart {{data()}}
  .number {{number()}}
    i(ng-class="tile.icon")
  .title {{tile.title}}
  .footer
    a(href='#') read full report
