#producersGraph {
  width: 100%;
  height: 200px;
}

.producers-details{
  width: 65.812%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #00A300;
}

.producers-details-title{
 height: 5%;
 padding: 1% 1% 1% 3%;
 color: rgba(255,255,255,0.9);
 background-color: #00A300;
 font-size: 14px;
}

.producers-details-body{
 padding: 5% 5% 5% 5%;
}
