div(ng-controller = "ProducersController")
  div(class="producers-details")
    div(class="producers-details-title")
      p Production and spare capacity, MW
    div(class="producers-details-body")
      vt-producers-graph(data="data")